.home {
    padding: 5px;
    background-color: rgb(205, 167, 214);
    border-color: rgb(77, 10, 87);


}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img {
    border-radius: 5px;
    border: 5px solid  rgb(43, 5, 37) ;
}
.noah {
    background-color: hotpink;
}
.josh {
    background-color:brown;
}